flows1.json
[{"id":"b8585bc6.521b08","type":"function","z":"ade71b19.3189e8","name":"Pre Prediction","func":"var dc = global.get('dc')\nvar na = global.get('na')\nvar se = global.get('se')\nvar ot = global.get('ot')\nvar at = global.get('at')\nvar vt = global.get('vt')\nvar yr = global.get('yr')\nvar gb = global.get('gb')\nvar pp = global.get('pp')\nvar mo = global.get('mo')\nvar km = global.get('km')\nvar token=msg.payload.access_token\nvar instance_id=\"64280cb2-0067-4f9c-bebd-e40dd5cf8f85\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = {\"input_data\":[{\"fields\":[\"layer_height\",\"wall_thickness\",\"infill_density\",\"infill_pattern\",\"nozzle_temperature\",\"bed_temperature\",\"print_speed\",\"fan_speed\",\"roughness\",\"tension_strenght\",\"elongation\"],\"values\":[[dc,na,se,ot,at,vt,yr,gb,pp,mo,km]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":260,"wires":[["2760c1ec.69c86e"]]},{"id":"f6b5010f.7a369","type":"http request","z":"ade71b19.3189e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":440,"wires":[["b8585bc6.521b08"]]},{"id":"31e1bc38.4c1cc4","type":"inject","z":"ade71b19.3189e8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":105.5,"y":273.99999809265137,"wires":[["dcea576d.fc82a8"]]},{"id":"6af067cc.d98428","type":"debug","z":"ade71b19.3189e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"2760c1ec.69c86e","type":"http request","z":"ade71b19.3189e8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/ed932e89-64e9-4f90-bfd7-a1fee4ebaf00/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":340,"wires":[["38b75b4a.ec1554"]]},{"id":"50f7fd76.3a9624","type":"ui_text","z":"ade71b19.3189e8","group":"902dfc3.0285","order":1,"width":0,"height":0,"name":"","label":"Material Type","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":420,"wires":[]},{"id":"38b75b4a.ec1554","type":"function","z":"ade71b19.3189e8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":151.60000133514404,"wires":[["6af067cc.d98428","50f7fd76.3a9624"]]},{"id":"dcea576d.fc82a8","type":"function","z":"ade71b19.3189e8","name":"PreToken","func":"global.set(\"dc\",msg.payload.dc)\nglobal.set(\"na\",msg.payload.na)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"ot\",msg.payload.ot)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"pp\",msg.payload.pp)\nglobal.set(\"mo\",msg.payload.mo)\nglobal.set(\"km\",msg.payload.km)\nvar apikey=\"ye8eAeiTw87PMY901cA2XJnEr_ILvFDOam6GD70AlSEv\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":360,"wires":[["f6b5010f.7a369"]]},{"id":"d2e16a73.901228","type":"ui_form","z":"ade71b19.3189e8","name":"","label":"","group":"902dfc3.0285","order":2,"width":0,"height":0,"options":[{"label":"layer_height","value":"dc","type":"number","required":true,"rows":null},{"label":"wall_thickness","value":"na","type":"number","required":true,"rows":null},{"label":"infill_density","value":"se","type":"number","required":true,"rows":null},{"label":"infill_pattern","value":"ot","type":"text","required":true,"rows":null},{"label":"nozzle_temperature","value":"at","type":"number","required":true,"rows":null},{"label":"bed_temperature","value":"vt","type":"number","required":true,"rows":null},{"label":"print_speed","value":"yr","type":"number","required":true,"rows":null},{"label":"fan_speed","value":"gb","type":"number","required":true,"rows":null},{"label":"roughness","value":"pp","type":"number","required":true,"rows":null},{"label":"tension_strenght","value":"mo","type":"number","required":true,"rows":null},{"label":"elongation","value":"km","type":"number","required":true,"rows":null}],"formValue":{"dc":"","na":"","se":"","ot":"","at":"","vt":"","yr":"","gb":"","pp":"","mo":"","km":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":420,"wires":[["dcea576d.fc82a8"]]},{"id":"902dfc3.0285","type":"ui_group","z":"","name":"3D Printer Material Prediction","tab":"c7e1cfd9.c84c9","order":1,"disp":true,"width":"6","collapse":false},{"id":"c7e1cfd9.c84c9","type":"ui_tab","z":"","name":"3D Printer Material Prediction","icon":"dashboard","disabled":false,"hidden":false}]